.contenedor-dentista{
   
    text-align: center;
}
.divTabla{
      padding-bottom: 10em;
      min-height: 40em;
    
  }
  
  .contenedor-dentista h2{
      padding: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.572);
  }
  
  .boton-agregar{
    border-radius: 50px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 0.5px;
    border: none;
    transition: transform 0.3s ease;
  }
  
  .boton-agregar:hover{
    background-color: #1e7e34; 
    transform: scale(1.1); 
  }
